[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cowsay = "*"

[dev-packages]
black = "*"
build = "*"
doit = "*"
sphinx = "*"
yapf = "*"
mood = {file = ".", editable = true}

[requires]
python_version = "3.13"
